In [1]:
import pandas as pd 
import numpy as np 
import os
import string

from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer

from nltk.corpus import stopwords
from nltk import FreqDist
# stop_words

In [2]:
DIR ='Dataset'

In [3]:
porter = PorterStemmer()
table = str.maketrans('', '', string.punctuation)
stop_words = set(stopwords.words('english'))

In [4]:
data = []
article_id=[]


for filename in os.listdir(DIR):
    try:
        with open(os.path.join(DIR,filename),'r+') as f:
            lines=f.readlines()
            text = ''.join(lines)
            text = text.replace('\n',' ')
            text = text.lower()
            tokens = word_tokenize(text)
            stripped = [w.translate(table) for w in tokens]
            words = [w for w in stripped if not w in stop_words]
            stemmed = [porter.stem(word) for word in words]
            text = ' '.join(stemmed)
            data.append(text)
            article_id.append(str(filename)[:3])
    except Exception as e:
        print(filename,'Error Occured',e)

.ipynb_checkpoints Error Occured [Errno 21] Is a directory: 'Dataset/.ipynb_checkpoints'

In [5]:
dataset = pd.DataFrame()
dataset['Text'] = data
dataset['Article_Id'] = article_id
dataset.head()

                                                Text Article_Id
0  dollar gain greenspan speech dollar hit highes...        002
1  cactu diet deal phytopharm slim aid made south...        302
2  air passeng win new eu right air passeng unabl...        015
3  us bank boss hail geniu  smith us feder reserv...        213
4  boe unveil new 777 aircraft us aircraft firm b...        069

In [61]:
dataset.Article_Id = [int(id) for id in dataset.Article_Id]
dataset.to_csv('Data.csv')

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Text        510 non-null    object
 1   Article_Id  510 non-null    int64
dtypes: int64(1), object(1)
memory usage: 8.1+ KB

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [12]:
vectorizer = TfidfVectorizer()

In [43]:
def find_similar_articles(query,documents):
    doc_vectors = vectorizer.fit_transform([query] + documents)
    cosine_similarities = linear_kernel(doc_vectors[0:1], doc_vectors).flatten()
    document_scores = [item.item() for item in cosine_similarities[1:]]
    return document_scores

In [59]:
scores=find_similar_articles('BMW',list(dataset.Text))

In [60]:
result = pd.DataFrame()
result['Article ID'] = dataset.Article_Id
result['Score'] = scores
result =result.sort_values(by=['Score'],ascending=False)
result.head()

     Article ID     Score
464          56  0.595238
491         141  0.500103
352          81  0.306808
90           49  0.303100
310         408  0.105898