In [1]:
import pandas as pd 
import numpy as np 
from sklearn.tree import DecisionTreeClassifier

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(train.shape)
test.shape

(891, 12)

(418, 11)

In [9]:
# The columns Name,Ticket and Cabin have a large variance so its better to remove them.

## Remove the undesired columns such as Name, Ticket, Cabin

In [10]:
train.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)
test.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

In [11]:
print(train.shape)
print(test.shape)

(891, 9)
(418, 8)

In [15]:
# Convert the Sex and Embarked columns in the dataframes into One Hot Encoding

In [16]:
new_train_data = pd.get_dummies(train)
new_test_data = pd.get_dummies(test)

In [18]:
new_test_data.head()
new_train_data.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [20]:
# Check for NaN values in the train dataset

new_train_data.isnull().sum().sort_values(ascending=False)
new_test_data.isnull().sum().sort_values(ascending=False)

Age            86
Fare            1
Embarked_S      0
Embarked_Q      0
Embarked_C      0
Sex_male        0
Sex_female      0
Parch           0
SibSp           0
Pclass          0
PassengerId     0
dtype: int64

In [21]:
new_train_data["Age"].fillna(new_train_data["Age"].mean(), inplace=True)
new_test_data["Age"].fillna(new_test_data["Age"].mean(), inplace=True)

In [24]:
new_train_data.isnull().sum().sort_values(ascending=False)
new_test_data.isnull().sum().sort_values(ascending=False)

Fare           1
Embarked_S     0
Embarked_Q     0
Embarked_C     0
Sex_male       0
Sex_female     0
Parch          0
SibSp          0
Age            0
Pclass         0
PassengerId    0
dtype: int64

In [25]:
new_test_data["Fare"].fillna(new_test_data["Fare"].mean(), inplace=True)

In [27]:
new_train_data.isnull().sum().sort_values(ascending=False)
# new_test_data.isnull().sum().sort_values(ascending=False)

Embarked_S     0
Embarked_Q     0
Embarked_C     0
Sex_male       0
Sex_female     0
Fare           0
Parch          0
SibSp          0
Age            0
Pclass         0
Survived       0
PassengerId    0
dtype: int64

In [28]:
# We have successfully removed all the NaN values in the columns of both the dataframes train and test.

In [29]:
X = new_train_data.drop('Survived',axis=1)
y = new_train_data['Survived']

In [30]:
tree = DecisionTreeClassifier(max_depth=10,random_state=0,max_leaf_nodes=50)

In [31]:
tree.fit(X,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=50,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [75]:
# tree.score(X,y)

## RANDOM FOREST MODEL

In [36]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [37]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=True)

In [71]:
# for n in range(300,500,10) :
#     model = RandomForestClassifier(n_estimators=n,
#                                max_leaf_nodes=6,
#                                max_depth=6,
#                                random_state=0)
#     model.fit(X_train, y_train)
#     from sklearn.metrics import accuracy_score
#     preds = model.predict(X_test)
#     print(accuracy_score(y_test, preds))

In [72]:
model = RandomForestClassifier(n_estimators=330,
                               max_leaf_nodes=6,
                               max_depth=6,
                               random_state=0)
model.fit(X_train, y_train)
from sklearn.metrics import accuracy_score
preds = model.predict(X_test)
print(accuracy_score(y_test, preds))

0.8044692737430168

In [73]:
submission = pd.DataFrame()

submission["PassengerId"] = new_test_data["PassengerId"]
submission["Survived"] = model.predict(new_test_data)

#We save the submission as a '.csv' file
submission.to_csv("submission.csv", index=False)

In [74]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1