In [1]:
import pandas as pd 
import numpy as np

In [12]:
df = pd.read_csv('review.csv')
df

       ItemID  Sentiment                                      SentimentText
0           1          0                       is so sad for my APL frie...
1           2          0                     I missed the New Moon trail...
2           3          1                            omg its already 7:30 :O
3           4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4           5          0           i think mi bf is cheating on me!!!   ...
...       ...        ...                                                ...
99984   99996          0  @Cupcake  seems like a repeating problem   hop...
99985   99997          1  @cupcake__ arrrr we both replied to each other...
99986   99998          0                     @CuPcAkE_2120 ya i thought so
99987   99999          1  @Cupcake_Dollie Yes. Yes. I'm glad you had mor...
99988  100000          1                    @cupcake_kayla haha yes you do

[99989 rows x 3 columns]

In [13]:
df.drop('ItemID',axis=1,inplace=True)

In [19]:
df.head()
df.Sentiment.value_counts()

1    56457
0    43532
Name: Sentiment, dtype: int64

In [15]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/prateek/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [16]:
test_1 = 'This was an amazing movie.'
sid.polarity_scores(test_1)

{'neg': 0.0, 'neu': 0.513, 'pos': 0.487, 'compound': 0.5859}

In [17]:
test_2 = 'This was the best movie of my life. It was such an awesome movie.'
sid.polarity_scores(test_2)

{'neg': 0.0, 'neu': 0.591, 'pos': 0.409, 'compound': 0.8519}

In [18]:
df.dropna(inplace=True)

In [20]:
df['scores'] = df['SentimentText'].apply(lambda review: sid.polarity_scores(review))

In [21]:
df.head(5)

,Sentiment,SentimentText,scores
0,0,is so sad for my APL frie...,"{'neg': 0.361, 'neu': 0.639, 'pos': 0.0, 'comp..."
1,0,I missed the New Moon trail...,"{'neg': 0.355, 'neu': 0.645, 'pos': 0.0, 'comp..."
2,1,omg its already 7:30 :O,"{'neg': 0.348, 'neu': 0.652, 'pos': 0.0, 'comp..."
3,0,.. Omgaga. Im sooo im gunna CRy. I'...,"{'neg': 0.129, 'neu': 0.871, 'pos': 0.0, 'comp..."
4,0,i think mi bf is cheating on me!!! ...,"{'neg': 0.39, 'neu': 0.61, 'pos': 0.0, 'compou..."

In [24]:
df.SentimentText = df.SentimentText.str.strip()

In [25]:
df.head()

,Sentiment,SentimentText,scores
0,0,is so sad for my APL friend.............,"{'neg': 0.361, 'neu': 0.639, 'pos': 0.0, 'comp..."
1,0,I missed the New Moon trailer...,"{'neg': 0.355, 'neu': 0.645, 'pos': 0.0, 'comp..."
2,1,omg its already 7:30 :O,"{'neg': 0.348, 'neu': 0.652, 'pos': 0.0, 'comp..."
3,0,.. Omgaga. Im sooo im gunna CRy. I've been at...,"{'neg': 0.129, 'neu': 0.871, 'pos': 0.0, 'comp..."
4,0,i think mi bf is cheating on me!!! T_T,"{'neg': 0.39, 'neu': 0.61, 'pos': 0.0, 'compou..."

In [26]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

In [27]:
df.head(5)

,Sentiment,SentimentText,scores,compound
0,0,is so sad for my APL friend.............,"{'neg': 0.361, 'neu': 0.639, 'pos': 0.0, 'comp...",-0.5256
1,0,I missed the New Moon trailer...,"{'neg': 0.355, 'neu': 0.645, 'pos': 0.0, 'comp...",-0.2960
2,1,omg its already 7:30 :O,"{'neg': 0.348, 'neu': 0.652, 'pos': 0.0, 'comp...",-0.2808
3,0,.. Omgaga. Im sooo im gunna CRy. I've been at...,"{'neg': 0.129, 'neu': 0.871, 'pos': 0.0, 'comp...",-0.4767
4,0,i think mi bf is cheating on me!!! T_T,"{'neg': 0.39, 'neu': 0.61, 'pos': 0.0, 'compou...",-0.6679

In [30]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [31]:
df.head()

,Sentiment,SentimentText,scores,compound,comp_score
0,0,is so sad for my APL friend.............,"{'neg': 0.361, 'neu': 0.639, 'pos': 0.0, 'comp...",-0.5256,neg
1,0,I missed the New Moon trailer...,"{'neg': 0.355, 'neu': 0.645, 'pos': 0.0, 'comp...",-0.2960,neg
2,1,omg its already 7:30 :O,"{'neg': 0.348, 'neu': 0.652, 'pos': 0.0, 'comp...",-0.2808,neg
3,0,.. Omgaga. Im sooo im gunna CRy. I've been at...,"{'neg': 0.129, 'neu': 0.871, 'pos': 0.0, 'comp...",-0.4767,neg
4,0,i think mi bf is cheating on me!!! T_T,"{'neg': 0.39, 'neu': 0.61, 'pos': 0.0, 'compou...",-0.6679,neg