In [1]:
import requests

In [2]:
url = 'https://www.skysports.com/premier-league-table/2019'

In [3]:
page = requests.get(url)
print(page.status_code)

200

In [5]:
# print(page.text)

In [6]:
from bs4 import BeautifulSoup

In [8]:
soup = BeautifulSoup(page.text,'html.parser')
# print(soup.prettify)

In [12]:
# print(soup.find('a'))

In [13]:
# print(soup.find_all('a'))

In [14]:
soup.find_all('a')[1]

<a class="site-header__col site-header__col4 site-header__nav-button-hit-area" data-role="open-left-hand-nav" href="#no-js-nav" tabindex="1">
<svg class="site-header__nav-button" version="1.1" viewbox="0 0 2048 2048" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect height="256" width="2048" y="384"></rect>
<rect height="256" width="2048" y="896"></rect>
<rect height="256" width="2048" y="1408"></rect>
</svg>
</a>

In [26]:
league = soup.find('table',class_='standing-table__table')
# league
league_table = league.find_all('tbody')
# league_table

In [42]:
for team in league_table:
    rows = team.find_all('tr')
    for row in rows:
        team_names = row.find('td',class_ = 'standing-table__cell standing-table__cell--name').text.strip()
        team_points = row.find_all('td',class_ = 'standing-table__cell')[9].text.strip()
        league_dict ={'Team':team_names,'Points':team_points}
        pl_2019.append(league_dict)
        
        
        print(team_names,team_points)

Liverpool 99
Manchester City 81
Manchester United 66
Chelsea 66
Leicester City 62
Tottenham Hotspur 59
Wolverhampton Wanderers 59
Arsenal 56
Sheffield United 54
Burnley 54
Southampton 52
Everton 49
Newcastle United 44
Crystal Palace 43
Brighton and Hove Albion 41
West Ham United 39
Aston Villa 35
Bournemouth 34
Watford 34
Norwich City 21

In [38]:
import pandas as pd

In [41]:
pl_2019=[]

In [43]:
pl_2019

[{'Team': 'Liverpool', 'Points': '99'},
 {'Team': 'Manchester City', 'Points': '81'},
 {'Team': 'Manchester United', 'Points': '66'},
 {'Team': 'Chelsea', 'Points': '66'},
 {'Team': 'Leicester City', 'Points': '62'},
 {'Team': 'Tottenham Hotspur', 'Points': '59'},
 {'Team': 'Wolverhampton Wanderers', 'Points': '59'},
 {'Team': 'Arsenal', 'Points': '56'},
 {'Team': 'Sheffield United', 'Points': '54'},
 {'Team': 'Burnley', 'Points': '54'},
 {'Team': 'Southampton', 'Points': '52'},
 {'Team': 'Everton', 'Points': '49'},
 {'Team': 'Newcastle United', 'Points': '44'},
 {'Team': 'Crystal Palace', 'Points': '43'},
 {'Team': 'Brighton and Hove Albion', 'Points': '41'},
 {'Team': 'West Ham United', 'Points': '39'},
 {'Team': 'Aston Villa', 'Points': '35'},
 {'Team': 'Bournemouth', 'Points': '34'},
 {'Team': 'Watford', 'Points': '34'},
 {'Team': 'Norwich City', 'Points': '21'}]

In [46]:
df = pd.DataFrame(pl_2019)

In [47]:
df.head()

                Team Points
0          Liverpool     99
1    Manchester City     81
2  Manchester United     66
3            Chelsea     66
4     Leicester City     62

In [62]:
for i in range(2000,2020):
    url = 'https://www.skysports.com/premier-league-table/'+str(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    league = soup.find('table',class_='standing-table__table')
    league_table = league.find_all('tbody')
    data_list=[]
    for team in league_table:
        rows = team.find_all('tr')
        for row in rows:
            team_names = row.find('td',class_ = 'standing-table__cell standing-table__cell--name').text.strip()
            Pl = row.find_all('td',class_ = 'standing-table__cell')[2].text.strip()
            W = row.find_all('td',class_ = 'standing-table__cell')[3].text.strip()
            D = row.find_all('td',class_ = 'standing-table__cell')[4].text.strip()
            L = row.find_all('td',class_ = 'standing-table__cell')[5].text.strip()
            F = row.find_all('td',class_ = 'standing-table__cell')[6].text.strip()
            A = row.find_all('td',class_ = 'standing-table__cell')[7].text.strip()
            GD = row.find_all('td',class_ = 'standing-table__cell')[8].text.strip()
            Pts = row.find_all('td',class_ = 'standing-table__cell')[9].text.strip()
            league_dict ={'Team':team_names,'Pl':Pl,'W':W,'D':D,'L':L,'F':F,'A':A,'GD':GD,'pts':Pts}
            data_list.append(league_dict)
            df= pd.DataFrame(data_list)
            df.to_csv('Season'+str(i)+'_'+str(i+1)+'.csv',index=False)